<table>
    <thead>
        <tr>
            <th>Libro</th>
            <th>Autor</th>
            <th>Paginas</th>
            <th>Editorial</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{book.libro}}</td>
            <td>{{book.autor}}</td>
            <td>{{book.paginas}}</td>
            <td>{{book.editorial}}</td>
            <td>{{book.precio}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>