<table class="table table-striped">
    <thead>
        <tr>
            <th>Libro</th>
            <th>Autor</th>
            <th>Paginas</th>
            <th>Editorial</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        @for (book of books; track book.id) {
            <tr>
                <td>{{book.libro}}</td>
                <td>{{book.autor}}</td>
                <td>{{book.paginas}}</td>
                <td>{{book.editorial}}</td>
                <td>{{book.precio | currency}}</td>
                @if (book.stock) {
                    <td>{{book.stock}}</td>
                } @else {
                    <td class="agotado">Agotado</td>
                }
                <td class="botones">
                    @if (book.stock) {
                        <app-input-integer [(quantity)]="book.quantity" [stock]="book.stock"></app-input-integer>
                    } @else {
                        <p class="nada">algo</p>
                    }
                </td>
                <td>
                    <button class="btn btn-outline-secondary" (click)="addToCart(book)">Agregar</button>
                </td>
            </tr>
        } @empty {
            <tr>
                <td>no quedan libros</td>
            </tr>
        }
    </tbody>
</table>