<section id="about">
    <div class="about-container">
        <h2>Sobre Librerislas</h2>
        <p>Bienvenido a Librerislas, tu destino literario en las Islas Canarias. Nuestra librería nació del amor por los libros y el deseo de compartir este amor con nuestra comunidad. Ofrecemos una amplia selección de libros, desde los clásicos hasta las últimas novedades, pasando por autores locales y obras especializadas.</p>
        <p>En Librerislas, creemos que la lectura enriquece nuestras vidas y nos conecta con el mundo que nos rodea. Por eso, nos esforzamos por crear un espacio acogedor donde los amantes de los libros puedan explorar, descubrir y disfrutar de nuevas lecturas.</p>
        <p>Además de nuestra tienda física, contamos con una tienda en línea que facilita la compra de libros desde la comodidad de tu hogar. También organizamos eventos literarios, presentaciones de libros y actividades para fomentar la lectura en nuestra comunidad.</p>
        <p>Te invitamos a visitar Librerislas y a unirte a nuestra pasión por la lectura. ¡Esperamos verte pronto!</p>
    </div>
</section>
